html{
    height: 100%;
    background-image: linear-gradient(rgba(19,18,23,255),Black); 
}
.container-2{
       position: relative; 
  
    top:200px;   
}
#colorTxt{
color: white;
 text-align: center; 
 line-height: 100px;
 font-family:  monospace;

   
}
#FactBox{
  
    font-family:monospace;
    color: white;
    /* display: inline-block; */
    background-color:rgba(36,35,43,255);
    border-color:rgba(36,35,43,255);
    /* display: flex; */
    font-family: arial;
  font-size: 24px;
   margin:50px; 
  justify-content: right;  
/* height:63px; */
height: 73px;
width:450px;

} 
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: -5px;
   
    
} 

.container-3{
     display: flex; 
    position: relative;
    top: -125px;
    justify-content: center;
    align-items: center;
    background-color: rgba(36,35,43,255);
    border-color: rgba(36,35,43,255); 
     width: 475px;
    
	/* height: 200px;  */
   margin: 0 auto;
  
    
} 
#generator-box{
    font-family:monospace;
     display: flex; 
     background-color: rgba(36,35,43,255);
    border-color: rgba(36,35,43,255); 
      width: 50em; 
	height: 400px; 
      justify-content: center; 
     align-items: center;  
  
}
 
 #button-style{
    font-family:monospace;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    position: relative; 
     justify-content: center;
    align-items: center;
    right: 45px; 
    top: 150px;
     background-color:lightgreen; 
    width: 2000px;
    height: 60px;

}  
#button-style:hover{
    background-color: rgba(36,35,43,255);
    color:lightgreen ;
    border-color: lightgreen;
}

#h2-1color{
color: white;
position: relative;
top: -135px;
right: -45px;

}
/* #testCheck{
    color:lightgreen ;
} */
/* Also choose a certain layout when formatting websites */