html{
    height: 100%;
    background-image: linear-gradient(rgba(19,18,23,255),Black); 
}
#colorTxt{
color: white;
 text-align: center; 
 line-height: 600px;
 font-family:  monospace;
}
#FactBox{
    display: inline-block;
    font-family: arial;
  font-size: 24px;
  margin:50px;
justify-content: right;

} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}